<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Login EJS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> 
<style>
    body {
       margin: 0;
       padding: 0;
       box-sizing: border-box; 
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1.5em;
       background-color: #333;
       color: whitesmoke;
       width: 60%;
       margin:auto;
       
   }

   h1 {
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
   }

     p {
       text-align: center;
       color: whitesmoke;
       font-weight:bolder;
   }
                                
    input {
        width: 15rem;
        height: 2.2rem;
        border-radius:5px; 
        background-color: whitesmoke;
        color: #333;

   }
                                  
    button {
         border: none;
         background: orange;
         width: 8rem;
         height: 2rem;
         border-radius: 5px;
   }


    .row {
        background-color:orangered;
    }

      .outline {
        background-color: lightskyblue;
    }  

    form {
         text-align: center;
   }

    label {
         display: block;
   }

   h3 {
    display: contents;
    text-align: center;
   }
                            
  /* || FOOTER */
    footer {
          padding: sticky;
          bottom: O;
			    color: whitesmoke;
			    margin-top: 1em;
          padding-bottom: 0.7em;
			    text-align: center;
			    font-size: 0.9em;
	 }
       </style>                              
       </head>
       <body> 
        <h1 class="mb-3 h3">Login</h1>  
        <p style="margin-top: 15vh; background-color: green">Have account signin.</p> 
        
        <!-- login.ejs -->
           <% if (messages.error) { %> 
            <div class="row"> 
          <div><%= messages.error %></div> 
           <div class="alert alert-danger"></div>
           <% } %>
         </div>
         
        <h1 style="font-family: cursive;">Log in here</h1>


      <form id="login-form">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" autocomplete="off" required></input>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" autocomplete="new-password" required></input>
        <br>
    <br>
        <button type="submit">Login</button>
      </form> 
     
    <br>   
    
    <div id="message"><p style="background-color: green;">haven't yet account? Clic here to
      <a href="./views/register.ejs" style= "color: orange;">Register</a></p>
      </div>

      <footer class="footer">
        <span class="nowrap">Copyrights &copy; <time id="year"></time></span>
        <span class="nowrap">IdyllAc</span>  
      </footer> 

      <script>
        document.getElementById('login-form').addEventListener('submit', async function (e) {
          e.preventDefault(); // Stop form from reloading the page
    
         // ✅ FIX: Actually grab email and password values from form inputs
          const email = document.getElementById('email').value;
          const password = document.getElementById('password').value;

       
            const res = await fetch('https://anypay.cards/auth/login', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ email, password })
            });

            const data = await res.json();

            console.log('Access Token:', data.accessToken); // 👈 SHOW IN CONSOLE
            console.log('Refresh Token:', data.refreshToken);

            if (res.ok) { 
            localStorage.setItem('accessToken', data.accessToken);
            localStorage.setItem('refreshToken', data.refreshToken); // Optional
            // Redirect to dashboard
            window.location.href = '/dashboard';
          } else {
            alert(data.message || 'Login failed');
          }
       });
      </script>

      <script src="https://kit.fontawesome.com/283a7ae800.js" crossorigin="anonymous"></script>

   </body>
</html> 



